<!DOCTYPE html>
<html>
  <head>
    <title>SKINCARE</title>
    <style>
        body {text-align: center;}
        img {max-height: 100px;}
        table {width: 100%;}
        tr, th, td {border: 1px solid black; padding: 5px;}
    </style>
  </head>
  <body>
    <h1>Checkout Page</h1>
    <p>
        <a href="/user/<%= data.id %>/">HOME</a> | <a href="/product">PRODUCT</a> | <a href="/user/logout">LOGOUT</a>
    </p>

    <h3>
        Name: <%= data.name %><br><br>
        Email: <%= data.email %><br><br>
        Address: <%= data.address %><br>
    </h3>
    <form method = "POST">
        <table>
            <tr>
                <th>Image</th>
                <th>Name</th>
                <th>Price</th>
            </tr>
            <% for (let objProduct of data.getDataValue("Products")) { %>
                <tr>
                    <td><img src="<%= objProduct.img_link %>"></td>
                    <td><%= objProduct.name %></td>
                    <td><%= objProduct.price %></td>
                </tr>
            <% } %>
            <tr>
                <td colspan="2">Total Price:</td>
                <td>Rp. <%= totalPrice %></td>
            </tr>
        </table>
        <br><br>
        <input type = "submit" value = "Checkout"><br><br>
    </form>
  </body>
</html>